.c-logincard__input {
   background-color: #fff;
   border: 1px solid #BABABA;
   border-radius: 6px;
   width: 100%;
   padding: 16px 38px;
   font-size: 22px;
}

.c-logincard__label {
   font-size: 1.125em;
   padding-bottom: 4px;
   font-weight: 500;
}

