.c-button {
  padding: 14px 60px;
  color: #fff;
  background-color: #8D1B3D;

  border-radius: 6px;
  border: none;

  font-size: 1.4em;
  font-weight: 600;

  &:hover {
    background-color: #530f23;
  }
}
