.slide {
  padding: 12px 12px;
}

.dots_wrapper {
  padding: 10px;
}

.custom_paging {
  color: #9c9c9c;
  font-size: 12px;

  &:hover {
    color: #8d1b3d;
    scale: 1.4;
    transition: 0.4s;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
