.c-hero {
  height: 50vh;

  background: url('../../assets/img/background.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  background-color: #8d1b3d;
  background-blend-mode: soft-light;
  text-align: center;

  .c-hero__text {
    margin-top: 23.75px;
    font-size: 0.8rem;
    font-weight: normal;
    color: #f9fafb;

    @media (max-height: 768px) {
      display: none;
    }
  }

  .c-hero__logo-banner {
    margin-top: 64px;
    max-width: 470px;

    @media (max-height: 768px) {
      display: none;
    }
  }
}
