.c-section {
  background-color: #f9fafb;
  height: 50vh;

  .c-section__login {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -37.5%);

    width: 100%;
  }

  .c-section__paragraph {
    margin-top: 50px;
    font-size: 0.8rem;
    max-width: 60%;

    font-weight: normal;
    color: #666;
    text-align: center;
    text-wrap: pretty;

    .u-strong {
      font-weight: normal;
      color: #666;
    }
  }
}
