.c-footer {
  background-color: #8D1B3D;

  .u-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0;

    .c-footer__title {
      color: #fff;
      font-size: 1.6em;
      font-weight: 500;
      padding-bottom: 8px;
    }

    .c-footer__item {
      color: #fff;
      list-style: none;
      font-size: 1.125em;
      padding: 8px 0;
    }

    .c-footer__img {
      max-width: 20%;
    }
  }
}
