.c-footer {
  background-color: #8d1b3d;

  .u-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 60px;

    .c-footer__title {
      color: #fff;
      font-size: 1em;
      font-weight: 700;
      padding-bottom: 8px;
    }
    .c-footer__item {
      list-style: none;
      padding: 4px 0;
    }

    .c-footer__item a {
      color: #fff;
      list-style: none;
      font-size: 0.8em;
      text-decoration: none;
    }

    .c-footer__img {
      max-width: 15%;
    }
  }
}
