.search-container {
  position: relative;
  width: 25%;
  margin: 18px 0;

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bebebe;
    pointer-events: none;
  }
  .search-input {
    background-color: transparent;
    border: 1px solid #bebebe;
    border-radius: 6px;
    height: fit-content;
    width: 100%;
    padding: 10px 6px 10px 32px;
    font-size: 0.8rem;
  }
}

table {
  border-radius: 6px;
  width: 100%;
  border: 1px solid #bebebe;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    text-align: left;
    height: 46px;
    background-color: #f4f4f4;

    th {
      padding: 1rem 0.8rem;
      font-size: 12px;
      text-transform: uppercase;

      &:first-child {
        border-top-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
        text-align: right;
      }
    }

    th.name {
      width: 200px;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid #eeeeee;
      padding: 0.2rem 0.8rem;
      font-size: 12px;
    }
  }
}
