.league {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  outline: 1px solid #f4f4f4;
  outline-offset: -1px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  background-color: #fff;

  width: 320px;
  height: 460px;
  margin: 22px auto;
  padding: 18px 16px;

  .league_logo_wrapper {
    display: flex;
    align-items: center;

    height: 100px;

    .league_logo_img {
      max-width: 100px;
      max-height: 90px;
      margin: 8px auto 8px auto;
    }
  }

  .league_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    .league_country--wrapper {
      display: flex;
      align-items: baseline;
      padding: 12px 0;
      gap: 4px;

      .flag {
        width: 19px;
      }
      .league_country {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .league_title--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      max-height: 100px;

      .league_title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .status {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding: 2px;
        justify-content: center;
        align-items: center;

        border-radius: 50px;

        color: #fff;

        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &.active {
          background: #1f7a1f;
        }

        &.finished {
          background: #b42318;
        }
      }
    }

    .league_season--wrapper {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-bottom: 16px;

      .season_title {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .period_season {
        color: #adadad;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .select_wrapper {
    position: relative;

    .calendar_icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  select {
    background-color: transparent;
    border: 1px solid #bebebe;
    color: #333;
    border-radius: 8px;
    height: fit-content;
    width: 100%;
    padding: 12px 8px;
    font-size: 1rem;
    appearance: none;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bebebe;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #999;
    }

    &::placeholder {
      color: #bebebe;
      font-size: 0.8rem;
    }

    option {
      color: #333;
      background-color: #fff;
      padding: 8px;

      max-height: 150px;
      overflow-y: auto;

      &:hover {
        background-color: #f5f5f5;
      }

      &:checked {
        background-color: #e3f2fd;
      }
    }
  }
}
