.c-header {
  .c-header__menu {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 26px 0;
  }

  .c-header__banner {
    background: url('../../../assets/img/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    background-color: #8D1B3D;
    background-blend-mode: soft-light;
    opacity: 0.9;
    text-align: center;

    .c-header__logo {
      width: 100%;
    }
    .u-container .c-header__logo {
      padding: 120px 0;
    }
  }
}
