.c-header {
  background-color: #F4F4F4;

  .c-header__menu {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
  }

  .c-header__banner {
    background: url('../../../assets/img/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    background-color: #8D1B3D;
    background-blend-mode: soft-light;
    opacity: 0.9;
    text-align: center;

    .c-header__logo {
      width: 50%;
    }
    .u-container .c-header__logo {
      padding: 120px 0 60px 0;
    }

    .c-header__text {
      font-size: 2.5em;
      font-weight: 300;
      color: #fff;
      padding-bottom: 120px;
    }
  }
}
