.c-button {
  padding: 12px 0;
  color: #fff;
  background-color: #8d1b3d;
  width: 100%;
  height: fit-content;

  border-radius: 8px;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #530f23;
  }
}
