// Global CSS to compoenents
body {
  height: 100vh;
  width: 100%;
}

.u-container {
  max-width: 1280px;
  margin: 0 auto;
}

.c-grid {
  // Base layout
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

*:not(a) {
  color: #3C3939;
}
