.card {
  background-color: #f4f4f4;
  width: 384px;
  height: 428px;
  padding: 70px 30px;
  border-radius: 6px;

  .card__item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    width: 100%;
    height: fit-content;
    padding: 12px 12px;
    cursor: pointer;

    &:hover {
      background-color: #8D1B3D;
      transition: 0.2s;
      h3 {
        color: #fff;
      }
    }

    h3 {
      font-size: 1.5em;
      font-weight: 500;
    }
  }
  &:hover {
    box-shadow: 3px 3px 3px rgba(60, 57, 57, 0.2);
  }
}
